@import url(hover-effect.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 1401px;
    margin: 0 auto;
    padding: 0;
}

/* ---------------------------
    Banner Section
   --------------------------- */
.banner-section {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    background-color: #161616;
    border-radius: 25px;
}

.half-width {
    width: 50%;
    margin-right: 5%;
}

.half-width img {
    width: 100%;
    padding: 0;
    margin-bottom: -4px;
    margin-top: 10px;

}

.banner-info {
    margin: 8%;
    margin-right: 0;
    margin-right: 24px;
}

.banner-info h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    color: #FFFFFF;
    width: 100%;
    margin-bottom: 6%;
}

.banner-info p {
    font-family: 'Inter';
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    line-height: 26px;
    color: #FFFFFF;
    width: 100%;
    margin-bottom: 9%;
}

.banner-info a {
    text-decoration: none;
    display: inline-block;
    background: #840101;
    border-radius: 5px;
    padding: 12px;
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    animation: button-animation 2.5s ease-in-out infinite alternate;

}

/* animation to banner button */
@keyframes button-animation {
    25% {
        background: #840101;
    }

    50% {

        background: #5b0101;
        transform: scale(1.1);
    }

    75% {
        background: #820101;
    }

    100% {
        background: #840101;
    }

}


/* End Of banner SEction */


/* -----------------------------
options and card sections
--------------------------------*/
.options-and-card-section {
    display: flex;
    margin: 10%;
}

.options-div {
    width: 312px;
    height: 312px;
    padding: 30px;
    background: linear-gradient(rgb(244, 44, 44), rgb(75, 7, 7));
    border-radius: 10px;
    margin-right: 2%;
}

.options-div ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 252px;
    height: 252px;
}

.not-selected {
    background-color: #FFFFFF;
    padding: 0px 0;
    width: 252px;
    border-radius: 10px;
}

.selected {
    background-color: #DD0000;
    padding: 0px 0;
    width: 252px;
    border-radius: 10px;

}

.not-selected a {
    display: flex;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #161616;
    justify-content: center;
    padding: 17px 0;



}

.selected a {
    display: flex;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    text-align: center;
    justify-content: center;
    padding: 17px 0;

}


/* grid blog sections 
-------------------------*/
.card-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3%;
    width: 100%;
    margin-bottom: 0%;
    padding-bottom: 10%;

}

/*-------------------------- 
Start: blog-card */
.blog-card {
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(194, 188, 188);
    display: flex;
    flex-direction: column;

}

.blog-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}

.card-info {
    padding: 5% 5%;
}

.card-info a {
    text-decoration: none;
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    padding: 4px 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #161616;
    margin-bottom: 15px;
}

.card-info h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1em;
    line-height: 27px;
    color: #161616;
    margin-bottom: 15px;
}

.clock-comments {
    width: 100%;
}

.time-comment {
    width: 100%;
}

.fa-clock {
    font-style: normal;
    font-weight: normal;
    margin-right: 5px;

}

.blog-time {
    margin-right: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: rgba(22, 22, 22, 0.7);

}

.fa-message {
    font-weight: normal;
    margin-right: 5px;

}

.blog-comments {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(22, 22, 22, 0.7);

}

.anchor-div {
    width: 100%;
    text-align: center;
    margin-top: 5%;
    display: none;
}

.view-all-anchor {
    text-decoration: none;
    display: inline-block;
    background: #DD0000;
    border-radius: 5px;
    padding: 12px 29px;
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 5%;
    display: none;
}

/* End of Blog Card design
-------------------------------*/


/* start: Footer
----------------------- */
footer {
    background-color: #161616;
    padding: 9% 2%;
    width: 100%;
    color: white;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.footer-name {
    margin-bottom: 4%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 2em;
    line-height: 60px;
    padding-top: 10px;
    /* identical to box height */
    text-align: center;

    color: #FFFFFF;
}

.horizontal-line {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 4%;
}

.horizontal-line hr {
    color: gray;
    background-color: rgb(46, 45, 45);
    height: 1px;
    border-width: 0;
}

.footer-lists-div {
    width: 100%;

}

.footer-lists-div ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.footer-lists-div ul li {
    padding: 20px;
    padding-top: 0;
}

.footer-lists-div ul li a {
    text-decoration: none;
    font-family: 'Poppins';
    color: #B9B9B9;
    font-size: 1em;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
}

.social-icon {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon a {
    margin: 2% 5%;
    color: #efe9e9;
    font-size: 2em;
}

/* END of Footer
------------------------------------ */


/* ------------------------------------------------------------------------------------------------------------------------------------------ */
/*-------------------------------------
 Media Query Mobile Phones px=up to 767.98
 -------------------------------------------*/
@media screen and (max-width: 767.98px) {

    /*------------------------------------------------
    Start of header/banner section media query  */
    .banner-section {
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 0%;
        padding: 5% 10%;
        padding-bottom: 0;
        background-color: #161616;
        border-radius: 10px;
    }

    .banner-info {
        text-align: center;
        margin: 5%;
    }

    .banner-info h1 {
        font-weight: 700;
        line-height: 33px;
        color: #FFFFFF;
        font-size: 22px;
        margin-bottom: 5%;
        text-align: center;
    }

    .banner-info p {
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
        margin-bottom: 5%;
        text-overflow: ellipsis;
        text-align: center;
        overflow: hidden;
        height: 48px;
    }

    .half-width {
        width: 100%;
    }

    .half-width img {
        margin-left: 10%;

    }

    .banner-info a {
        text-decoration: none;
        display: inline-block;
        background: #DD0000;
        border-radius: 5px;
        padding: 8px 12px;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        text-align: center;

    }

    /*End of Header/Banner section media Query for mobile
    ----------------------------------------------------------- */


    /* ---------------------------------------------------------
        Start Of blog section media query for mobile  ⬇️
     ------------------------------------------------------------*/

    .options-and-card-section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5%;
        margin-bottom: 0;
    }

    .options-div {
        height: 236px;
        padding-top: 15px;
        background: transparent;
        border-radius: 10px;
        margin-right: 0;
        align-items: center;

    }

    .options-div ul {
        align-items: center;
        justify-content: space-between;
        height: 176px;
        margin-right: 0px;

    }

    .all-group {
        background-color: #FFFFFF;
        border: 1px solid #E8E8E8;
        padding: 9px 0;
        width: 110px;
        border-radius: 10px;
    }

    .options-div ul li {
        margin-bottom: 5%;
    }

    .not-selected {
        border: 1px solid #E8E8E8;

    }

    .not-selected {
        background-color: #FFFFFF;
        padding: 0px 0;
        width: 100%;
        border-radius: 10px;
    }

    .selected {
        background-color: #DD0000;
        padding: 0px 0;
        width: 100%;
        border-radius: 10px;

    }

    .not-selected a {
        display: flex;
        text-decoration: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
        color: #161616;
        justify-content: center;
        padding: 11px 0;



    }

    .selected a {
        display: flex;
        text-decoration: none;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #FFFFFF;
        text-align: center;
        justify-content: center;
        padding: 11px 0;

    }



    .blog-card {
        margin-bottom: 5%;
    }

    /* changing grid to one column */
    .card-grid-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 1em;
        padding: 0 0px;
    }


    /* ------------------------
    meadia query for FOOTER 
    --------------------------*/
    .footer-lists-div ul {
        flex-direction: column;
    }
}

/* ------------------------------------------------ */


/*-------------------------------------------
      media query for Tablets px=768 to 991
 --------------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 991.98px) {

    /* start of banner section */
    .banner-section {
        margin: 5%;
        margin-bottom: 10%;
    }

    .banner-info h1 {
        font-size: 38px;
        font-weight: 700;
        line-height: 48px;
        color: #FFFFFF;
        margin-bottom: 5%;
    }

    .banner-info p {
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
        margin-bottom: 5%;
        text-overflow: ellipsis;
        overflow: hidden;
        height: 48px;
    }

    .half-width img {
        margin-right: 0;
        width: 100%;
    }

    .banner-info a {
        text-decoration: none;
        display: inline-block;
        background: #DD0000;
        border-radius: 5px;
        padding: 12px;
        font-size: 20px;
        line-height: 23px;
        text-align: center;

    }

    /* end of banner section
    -------------------------------- */

    /* start of blog-card section */
    .options-and-card-section {
        flex-direction: column;
        margin: 0 5%;
        justify-content: center;
        align-items: center;
    }

    .options-div {
        padding: 0;
        background: transparent;
        border-radius: 10px;
        margin-right: 0;
        align-items: center;
        width: 100%;
        height: 100px;
    }

    .options-div ul {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 64px;
    }

    .options-div ul li {
        width: 33.3%;
        margin-right: 22px;
    }

    .not-selected {
        border: 1px solid #E8E8E8;

    }

    .options-div ul li.selected {
        margin-right: 0px;
    }

    /* changing grid layout to 2 coloumn */
    .card-grid-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
        padding: 0 0px;
    }

    .last-card {
        display: none;
    }

    /* view-all anchor tag showing */
    .anchor-div {
        display: flex;
        /* background-color: #FFFFFF; */
        width: 100%;
        margin-right: 0;
        margin-left: 0;
        text-align: center;
        justify-content: center;
        align-items: center;

    }

    .view-all-anchor {
        display: inline-block;

    }

    /* media query for footer
    --------------------------- */
    .footer-lists-div ul {
        flex-wrap: wrap;
    }
}


/*-------------------------------------------
      media query for laptops/desktop pc=992 to 1199.98
 --------------------------------------------*/
@media screen and (min-width: 992px) and (max-width: 1199.98px) {


    .banner-info h1 {
        font-size: 50px;
        font-weight: 700;
        line-height: 60px;
        color: #FFFFFF;
        margin-bottom: 5%;
    }

    .banner-info p {
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
        margin-bottom: 5%;
        text-overflow: ellipsis;
        /* white-space: nowrap; */
        overflow: hidden;
        height: 48px;
    }
}


/*-------------------------------------------
      media query for large laptops/desktop pc=1200 to 1399.98
 --------------------------------------------*/
@media screen and (min-width: 1200px) and (max-width: 1399.98px) {


    .banner-info h1 {
        font-size: 55px;
        font-weight: 700;
        line-height: 65px;
        color: #FFFFFF;
        margin-bottom: 5%;
    }

    .banner-info p {
        font-size: 14px;
        line-height: 24px;
        color: #FFFFFF;
        margin-bottom: 5%;
        text-overflow: ellipsis;
        /* white-space: nowrap; */
        overflow: hidden;
        height: 48px;
    }
}